:root {
    --font-main: 'Roboto', sans-serif;

    /* Modo Claro (Por defecto) */
    --primary: #0066CC;
    --secondary: #10B981;
    --background: #F8FAFC;
    --surface: #FFFFFF; /* Para tarjetas o contenedores */
    --text: #0F172A;
    --text-muted: #64748B; /* Para textos secundarios */
    --radius-sm: 6px;
    --radius-md: 8px;
    --radius-lg: 12px;
    --shadow-sm: 0 4px 6px -1px rgba(0,0,0,.05);
    --shadow-md: 0 4px 6px -1px rgba(0,0,0,.1);
    --shadow-lg: 0 10px 15px -3px rgba(0,0,0,.1);
}

:root.darkmode {
    /* Modo Oscuro */
    --primary: #3B82F6;
    --secondary: #34D399;
    --background: #0F172A; 
    --surface: #1E293B;
    --text: #F8FAFC;
    --text-muted: #94A3B8;
}